<%- include('partials/header') %>
    <section class="main">
        <div class="form-div">
            <header>
                <nav>
                    <h1>AISAT ONLINE FACULTY TEACHER EVALUATION</h1>
                </nav>
                <form action="/adminPage" method="POST" id="adminPage">
                    <button type="button" class="admin-btn">LoginAdmin</button>
                </form>
            </header>
            <form action="/" method="post">
                <div class="form active" id="teaching">
                    <div>
                        <table class="main-table">
                            <tr>
                                <input type="text" name="" value="<%= teacherCode[1].switch %>" id="hiddenSwitch" hidden>
                                <th>INSTRUCTOR: <select name="teacher" class="instructor">
                                    <option value="">Select Instructor</option>
                                    <% instructorName.forEach(instructor => { %>
                                        <option value="<%= instructor.Instructor %>"><%= instructor.Instructor %></option>
                                      <% }); %>
                                </select></th>
                                <th>SCORE:1-5</th>
                            </tr>
                            <tr>
                                <th colspan="2">Section:<input type="text" oninput="this.value = this.value.toUpperCase()" class="section" name="section"></th>
                            </tr>
                            <tr>
                                <th colspan="2">I.TEACHING COMPETENCE</th>
                            </tr>
                            <tr>
                                <td>1.1 Analyzes and elaborates lesson without reading the textbook in class.</td>
                                <td><input type="number" class="score-input" id="Q1" min="1" max="5" placeholder="1-5" name="Q1"></td>
                            </tr>
                            <tr>
                                <td>1.2 Uses audio-visual aid and devices to support and facilitate instruction.</td>
                                <td><input type="number" class="score-input" id="Q2" min="1" max="5" placeholder="1-5" name="Q2"></td>
                            </tr>
                            <tr>
                                <td>1.3 Presents facts and concepts clearly and convincingly from related fields and integrate subject matter with actual experience and day-to-day activities.</td>
                                <td><input type="number" class="score-input" id="Q3" min="1" max="5" placeholder="1-5" name="Q3"></td>
                            </tr>
                            <tr>
                                <td>1.4 Makes the students apply concepts to demonstrate understanding of the lesson.</td>
                                <td><input type="number" class="score-input" id="Q4" min="1" max="5" placeholder="1-5" name="Q4"></td>
                            </tr>
                            <tr>
                                <td>1.5 Gives fair test and examination and return test results within reasonable period.</td>
                                <td><input type="number" class="score-input" id="Q5" min="1" max="5" placeholder="1-5" name="Q5"></td>
                            </tr>
                            <tr>
                                <td>1.6 Shows good command of the language of instruction.</td>
                                <td><input type="number" class="score-input" id="Q6" min="1" max="5" placeholder="1-5" name="Q6"></td>
                            </tr>
                        </table>
                        <div class="btn-div">
                            <button class="next-btn" type="button" id="teaching-btn">Next</button>
                        </div>
                    </div>
                </div>
                <div class="form" id="management">
                    <table class="main-table">
                        <tr>
                            <th colspan="2">II.MANAGEMENT SKILLS</th>
                        </tr>
                        <tr>
                            <td>2.1 Maintains a responsive, safe, and disciplined classroom atmosphere that is conducive to learning.</td>
                            <td><input type="number" class="score-input" id="Q7" min="1" max="5" placeholder="1-5" name="Q7"></td>
                        </tr>
                        <tr>
                            <td>2.2 Follows systematic schedule of classes and school activities.</td>
                            <td><input type="number" class="score-input" id="Q8" min="1" max="5" placeholder="1-5" name="Q8"></td>
                        </tr>
                        <tr>
                            <td>2.3 Stimulates student's respect and regards for the teacher.</td>
                            <td><input type="number" class="score-input" id="Q9" min="1" max="5" placeholder="1-5" name="Q9"></td>
                        </tr>
                        <tr>
                            <td>2.4 Allow students to express their opinions and their views.</td>
                            <td><input type="number" class="score-input" id="Q10" min="1" max="5" placeholder="1-5" name="Q10"></td>
                        </tr>
                    </table>
                    <div class="btn-div">
                        <button class="back-btn" onclick="closeform('teaching','management')" type="button">Back</button>
                        <button class="next-btn" onclick="openform('guidance','management')" type="button" id="management-btn">Next</button>
                    </div>
                </div>
                <div class="form" id="guidance">
                    <table class="main-table">
                    <tr>
                        <th colspan="2">III.GUIDANCE SKILLS</th>
                    </tr>
                    <tr>
                        <td>3.1 Accept students as they are by recognizing their strenghts and weakness as individuals.</td>
                        <td><input type="number" class="score-input" id="Q11" min="1" max="5" placeholder="1-5" name="Q11"></td>
                    </tr>
                    <tr>
                        <td>3.2 Inspire the students to be self-reliant and self-disciplined.</td>
                        <td><input type="number" class="score-input" id="Q12" min="1" max="5" placeholder="1-5" name="Q12"></td>
                    </tr>
                    <tr>
                        <td>3.3 Handles class and students' problems with fairness and understanding.</td>
                        <td><input type="number" class="score-input" id="Q13" min="1" max="5" placeholder="1-5" name="Q13"></td>
                    </tr>
                    <tr>
                        <td>3.4 Shows genuine concern for the personal and other
                            problem presented by the students outside the classroom
                            activities.</td>
                        <td><input type="number" class="score-input" id="Q14" min="1" max="5" placeholder="1-5" name="Q14"></td>
                    </tr>
                </table>
                <div class="btn-div">
                    <button class="back-btn" onclick="closeform('management','guidance')" type="button">Back</button>
                    <button class="next-btn" onclick="openform('personal','guidance')" type="button" id="guidance-btn">Next</button>
                </div>
                </div>
                <div class="form" id="personal">
                    <table class="main-table">
                        <tr>
                            <th colspan="2">IV.PERSONAL AND SOCIAL QUALITIES</th>
                        </tr>
                        <tr>
                            <td>4.1 Maintains emotional balance; not over-critical or over sensitive</td>
                            <td><input type="number" class="score-input" id="Q15" min="1" max="5" placeholder="1-5" name="Q15"></td>
                        </tr>
                        <tr>
                            <td>4.2 Is free from mannerisms that distracts the teaching and learning process</td>
                            <td><input type="number" class="score-input" id="Q16" min="1" max="5" placeholder="1-5" name="Q16"></td>
                        </tr>
                        <tr>
                            <td>4.3 Is well groomed; clothes clean and neat. (Use of appropriate clothes becoming a teacher)</td>
                            <td><input type="number" class="score-input" id="Q17" min="1" max="5" placeholder="1-5" name="Q17"></td>
                        </tr>
                        <tr>
                            <td>4.4 Is fair and impartial to all students. Shows no favoritism.</td>
                            <td><input type="number" class="score-input" id="Q18" min="1" max="5" placeholder="1-5" name="Q18"></td>
                        </tr>
                        <tr>
                            <td>4.5 Has good sense of humor and shows enthusiasm in teaching.</td>
                            <td><input type="number" class="score-input" id="Q19" min="1" max="5" placeholder="1-5" name="Q19"></td>
                        </tr>
                        <tr>
                            <td>4.6 Has good diction, clear and modulated voice.</td>
                            <td><input type="number" class="score-input" id="Q20" min="1" max="5" placeholder="1-5" name="Q20"></td>
                        </tr>
                        <input class="ave" name="average">
                    </table>
                    <table class="main-table">
                        <tr>
                            <td scope="row"><textarea name="comment" id="" cols="30" rows="5" class="comments" placeholder="Comments Here.."></textarea></td>
                        </tr>
                    </table>
                    <div class="btn-div">
                        <button class="back-btn" onclick="closeform('guidance','personal')" type="button">Back</button>
                        <button class="submit-btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>     
        </div>
        <%- include('partials/footer') %>